.header {
    background: linear-gradient(99deg, rgba(0, 197, 235, 0.3) 0%, rgba(181, 68, 254, 0.3) 100%);
    height: 62px;
    margin-top: 20px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 400;
    font-size: 28px;
    color: #fff;
}

.menu-toggle {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-toggle span {
    width: 100%;
    height: 2px;
    background-color: white;
}

/* .content {
    padding-left: 20px;
    padding-top: 100px;
    padding-bottom: 12px;
    max-width: 600px;
    margin: 0 auto;
} */